<!DOCTYPE html>
<html>
<head>
    <title>Add Emp Output</title>
    <style>
        body {
            background-image: url("/static/background.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
            color: DodgerBlue;
            font-family: Avenir, sans-serif;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>The employee {{ name }} was successfully added to the database</h1>
    <h2>The Employee has been added to the database</h2>
    <h2>{{ name }}</h2>
    <a href="{{ url_for('home') }}">Back</a>
</body>
</html>
