# ignoring the keys
ec2_key.pub
ec2_key
*.pem
*.pub

*.zip
# ignore all Terraform files
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfplan
