<!DOCTYPE html>
<html>
<head>
	<title>Get Employee Information</title>
</head>
<body style="background: {{ color }};">
	<h1 style="color: DodgerBlue">Employee Information</h1>
	<form action="/fetchdata" autocomplete="on" method="POST">
		<h2 style="color: grey">Enter Employee ID</h2>
		<div>
			Employee ID:<br>
			<input style="height:25px;font-size:14pt;" type="number" name="emp_id" autofocus size="40">
			<br>
			<br>
		</div>
		<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">FETCH INFO</button><br><br>
	</form>
</body>
</html>
